frontend/node_modules
frontend/server-build.js
frontend/static/bundle*.css
frontend/static/bundle*.js
frontend/static/bundle*.txt
backend/vendor
backend/composer.lock
backend/var/cache
.htpasswd
.deployer
